.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 2em;
}

.homePageWrapper {
  width: 100vw;
}

/* Will delete this later on */
.someText {
  text-align: left;
}
.blurred {
  width: 100vw;
  filter: blur(5px);
  pointer-events: none;
  overflow: hidden;
}
body.no-scroll {
  overflow: hidden;
}
.newStudyGroup {
  display: flex;
  justify-content: right;
  margin-left: 3em;
  margin-right: 3em;
}

.setupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.newStudyGroupButton {
  background-color: black;
  color: white;
}
