.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body {
  /* background: linear-gradient(#c31431cb, #240b36e1); */
  background: linear-gradient(#355c7d, #6c5b7b, #c06c84);
}

.formWrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  justify-self: left;
}

.forms {
  display: flex;
  width: 20%;
  justify-self: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 16px;
  border: 4px solid white;
  background: linear-gradient(#233e55e8, #6c5b7be7, #804656d8);
}

.formDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.helloText {
  font-size: 2em;
  font-weight: bold;
  justify-self: center;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  color: white;
}

.createNewText {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: left;
  color: white;
}

.infoInput {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  border-radius: 16px;
  margin-top: 1em;
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	margin-bottom: 0.5em;
}

.passwordDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.passwordInput {
  font-size: 0.9em;
  width: 100%;
  border-radius: 16px;
  margin-top: 1em;
  padding: 1em;
}

.buttonDiv {
  margin-top: 0.2em;
  display: flex;
  width: 100%;
  justify-content: center;
	margin-bottom: 1em;
}

.inputButton {
  font-size: 1em;
  background: linear-gradient(90deg, rgb(45, 240, 19), rgb(17, 168, 25));
  /* background: linear-gradient(360deg, #8e9eab, #eef2f3); */
  width: 70%;
  padding: 1em;
  white-space: nowrap;
  border: 0px;
}

.redirect {
  width: 100%;
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  gap: 10px;
	margin-bottom: 0.5em;
}

.account {
  margin: 0;
  font-size: 0.9em;
  color: white;
	white-space: nowrap;
}

.link {
  font-size: 0.9em;
	white-space: nowrap;
}

.oauth {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
	margin-bottom: 1em
}

.errorMessage {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  color: rgb(245, 37, 37);
}

.signUpText {
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-top: 0em;
	color: rgb(255, 255, 255);
	margin-bottom: 1em;
	margin-top: 1.5em;
}

@media screen and (max-width: 600px) {
	.forms {
		width: 90%;
	}
	.inputButton {
		white-space: wrap;
	}
}

@media screen and (min-width: 600px) {
	.forms {
		width: 70%;
	}
}

@media screen and (min-width: 768px) {
	.forms {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.forms {
		width: 40%;
	}
}

@media screen and (min-width: 1200px) {
	.forms {
		width: 30%;
	}
}

@media screen and (min-width: 1440px) {
	.forms {
		width: 20%;
	}
}
