

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  background: linear-gradient(45deg, gray, white);
  display: flex;
  flex-wrap: wrap;
}

.welcomeWrapper{
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap
}

.title{
  width: 100%;
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.description{
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0.4em;
}

.signUpButton{
  background-color: rgba(53, 250, 53, 0.733);
  padding: 1em;
  border-radius: 8px;
  font-size: 18px;
}